<!DOCTYPE html>

<html lang="en" ng-app="app" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Spring boot and Angularjs Tutorial</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div th:include="navbar"></div>
<div class="container">
    <h2>Administrator Panel</h2>
    {{'COMMON.ADMIN' |
    translate}}
    <div class="home-section">
        <ul class="menu-list">
            <li><a href="#/users">Users</a></li>
            <li><a href="#/roles">Roles</a></li>
        </ul>
    </div>


</div>
<div ng-view=""></div>
<div th:include="footer :: foot"></div>

<script src="bower_components/jquery/dist/jquery.js"/>
<script src="bower_components/tether/dist/js/tether.js"/>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"/>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="app/app.module.js"></script>
<script src="app/app.config.js"></script>
<script src="app/app.controller.js"></script>
<script src="app/roles.controller.js"></script>
<script src="app/user/user.controller.js"></script>
<script src="app/navbar/navbar.controller.js"></script>
<script src="app/common/i18n.js"></script>

</body>
</html>
